body {
  padding-top: 1.5rem;
  background-color: #25282A;

  font-family: 'Macondo', cursive;
  font-size: 2rem;
  color: #ffffff;
}

input {
  transform: translateX(-9999px);
}

.slider {
  max-width: 1280px;
  width: 80vw;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 2vh;
}

.slider__images {
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
}

.slider__image-wrapper {
  width: 400%;
  display: flex;
  transform: translateX(0);
}

.slider__image {
  width: 25%;
}

.slider__image img{
  width: 100%;
}

.slider__text {
  overflow: hidden;
  width: 60%;
}

.slider__text-wrapper {
  width: 400%;
  display: flex;
  align-items: center;
  transform: translateX(0);
}

.slider__discription {
  width: 100%;
}

.slider__controls {
  display: flex;
  align-items: center;
}

.slider__button-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;

  cursor: pointer;
}

input:checked + .slider__button-label > svg .inner-fill {
  fill: #25282A;
}

.slider__button-label:hover svg .outer-fill,
.slider__button-label:hover svg .inner-fill {
  fill: #ffffff;
}

.slider__button-label:active svg .outer-fill,
.slider__button-label:active svg .inner-fill {
  fill: #939393;
}

.outer-fill {
  fill: #71ACFF;
}

.inner-fill {
  fill: #71ACFF;
}

